.accordion-item {
  background-color: var(--green);
  color: var(--dark-blue);
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  right: 1rem;
}

.accordion-item.active .accordion-item-header::after {
  content: "\2212";
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: white;
}

.accordion-item.active .accordion-item-body {
  max-height: 100vh;
  transition: max-height 1s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5;
  border-top: 1px solid #34495e;
}
